@using Microsoft.AspNetCore.Identity
@using AtomHealth.Areas.Identity.Data

@inject SignInManager<AtomHealthUser> SignInManager
@inject UserManager<AtomHealthUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AtomHealth</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="logoimage" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="topNav">
                        <div class="signInAndSocial">
                            <div class="socialMedia">
                                <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/linkedin.png" style="width:30px; height:30px; margin-right:10px;" /></a>
                                <a href="https://www.facebook.com/" target="_blank"><img src="~/images/facebook.png" style="width:30px; height:30px;margin-right:10px;" /></a>
                                <a href="https://www.instagram.com/" target="_blank"><img src="~/images/instagram.png" style="width:30px; height:30px;margin-right:10px;" /></a>
                                <a href="https://www.twitter.com/" target="_blank"><img src="~/images/twitter.png" style="width:30px; height:30px" /></a>
                            </div>

                        </div>

                        <div class="navLinks">

                            @if (SignInManager.IsSignedIn(User))
                            {
                            <ul class="navbar-nav col-md-12 col-sm-12">
                                <li class="nav-item">
                                    <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:white !important; font-weight:bold">Hello @UserManager.GetUserName(User)!</a>
                                </li>
                                <li class="nav-item">
                                    <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:white !important; font-weight:bold">Manage Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a id="manage" class="nav-link" asp-action="MedicalCoverageList" asp-controller="Home" style="color:white !important; font-weight:bold">Medical Coverage</a>
                                </li>
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                {
                                    <li class="nav-item" style="color:white !important">
                                        <a id="manage" class="nav-link" asp-action="Index" asp-controller="UserRoleManagement" style="color:white !important; font-weight:bold">Configure User Roles</a>
                                    </li>

                                }
                                <li class="nav-item" style="color:white !important">
                                    <form id="logoutForm" class="nav-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link" style="height:38px;border:none;color:white !important; font-weight:bold">Logout</button>
                                    </form>
                                </li>
                            </ul>




                            }


                            else
                            {
                                <div class="signinoutLink">
                                    <a style="padding-right:10px; border-right: 2px solid #42a5ff;" id="register" asp-area="Identity" asp-page="/Account/Login">Signin   </a>
                                    <a style="padding-left:10px;" id="login" asp-area="Identity" asp-page="/Account/Register">Signup</a>
                                </div>

                                <ul class="navbar-nav col-md-12 col-sm-12">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Home" asp-action="JoinUs">JOIN US</a>
                                    </li>

                                    @*
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="OurSolution">OUR SOLUTION</a>
            </li>

             <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="News">HEALTH NEWS</a>
        </li>
                                         <li class="nav-item">
                                        <a class="nav-link" asp-controller="Home" asp-action="ContactUs">CONTACT US</a>
                                    </li>
                                    *@

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Home" asp-action="FAQ">FAQ</a>
                                    </li>




                                </ul>
                            }
                        </div>




                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer id="footer1">
        <div class="container">
            @*<div class="row" id="logorow">

            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="logoimage" style="width:80px;height:80px;" /></a>
        </div>*@
            <div class="row" id="menurow">
                <a class="nav-link" asp-controller="Home" asp-action="Index">HOME</a>
                @*<a class="nav-link" asp-controller="Home" asp-action="OurSolution">OUR SOLUTION</a>
        <a class="nav-link" asp-controller="Home" asp-action="JoinUs">JOIN US</a>
                   <a class="nav-link" asp-controller="Home" asp-action="News">HEALTH NEWS</a>
                *@
                <a class="nav-link" asp-controller="Home" asp-action="FAQ">FAQ</a>
                <a class="nav-link" asp-controller="Home" asp-action="ContactUs">CONTACT US</a>

            </div>

            <div class="footersocialMedia">
                <a href="https://www.linkedin.com/" target="_blank"><img src="~/images/linkedin.png" style="width:30px; height:30px; margin-right:10px;" /></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="~/images/facebook.png" style="width:30px; height:30px;margin-right:10px;" /></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="~/images/instagram.png" style="width:30px; height:30px;margin-right:10px;" /></a>
                <a href="https://www.twitter.com/" target="_blank"><img src="~/images/twitter.png" style="width:30px; height:30px" /></a>
            </div>

            <div class="row" id="privacyrow">
                &copy; @DateTime.Now.Year - AtomHealth - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
