@model AtomHealth.Areas.Identity.Data.AtomHealthUser

<script type="text/javascript" src="~/js/Phone.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/ViewProfile.css" />
@{
    ViewData["Title"] = "Edit Profile";

}
<h1 style="color:#42a5ff; font-size:large; font-weight:bold; text-align:center;">Edit Your Profile</h1>
<hr />

<div class="formWrap">
    <div class="rowForProfileEdit">

        <form method="post" action="EditUserProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="ImmunizationID" />
                <input type="hidden" asp-for="MedicalHistoryID" />*@
            <input type="hidden" asp-for="Id" />

            <input type="hidden" asp-for="UserName" />

            <div class="form-group">
                First Name
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Middle Name
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Last Name
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">

                Gender <i class="fa fa-question-circle" style="font-size:20px" data-toggle="tooltip" title="Please make sure the gender you provide here is the same as what your insurance provider has on file. Our entire team is commited to making
                         sure every member feels safe, welcome and respected."></i>

                <br />
                @Html.RadioButtonFor(m => m.Gender, "Male", Model.Gender == "Male" ? "checked" : string.Empty)
                <span>Male</span>
                @Html.RadioButtonFor(m => m.Gender, "Female", Model.Gender == "Female" ? "checked" : string.Empty)
                <span>Female</span>
                @Html.RadioButtonFor(m => m.Gender, "LGBTQ+", Model.Gender == "LGBTQ+" ? "checked" : string.Empty)
                <span>LGBTQ+</span>


                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                Marital Status
                @Html.DropDownList("MaritalStatus", new List<SelectListItem>
{new SelectListItem { Text = "Select", Value = "None", Selected=true},
                    new SelectListItem { Text = "Select Country", Value = "Not Selected"},
    new SelectListItem { Text = "Married", Value = "Married"},
    new SelectListItem { Text = "Living with partner", Value = "Living with partner"},
    new SelectListItem { Text = "Single or never married", Value = "Single"},
    new SelectListItem { Text = "Seperated", Value = "Seperated"},
    new SelectListItem { Text = "Divorced", Value = "Divorced"},
    new SelectListItem { Text = "Widowed", Value = "Widowed"}


})
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                Height (in cm)
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                Weight (in lbs)
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                Blood Type
                @Html.DropDownList("BloodType", new List<SelectListItem>
{
               new SelectListItem { Text = "Select", Value = "None", Selected=true},
               new SelectListItem { Text = "Select Blood Type", Value = "NotSelected"},
    new SelectListItem { Text = "A RhD positive (A+)", Value = "A RhD positive (A+)"},
    new SelectListItem { Text = " A RhD negative (A-)", Value = " A RhD negative (A-)"},
    new SelectListItem { Text = "B RhD positive (B+)", Value = "B RhD positive (B+)"},
    new SelectListItem { Text = "B RhD negative (B-)", Value = "B RhD negative (B-)"},
    new SelectListItem { Text = "O RhD positive (O+)", Value = "O RhD positive (O+)"},
    new SelectListItem { Text = "O RhD negative (O-)", Value = "O RhD negative (O-)"},
    new SelectListItem { Text = "AB RhD positive (AB+)", Value = "AB RhD positive (AB+)"},
    new SelectListItem { Text = "AB RhD negative (AB-)", Value = "AB RhD negative (AB-)"}


})
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>

            <div class="form-group">
                Date of Birth
                <input asp-for="DOB" class="form-control" type="text" id="datepicker" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                Country

                <select asp-for="Address.Country">
                    @foreach (Country country in ViewBag.listOfCountry)
                    {
                        <option value="@country.CountryName">
                            @country.CountryName
                        </option>
                    }
                </select>


            </div>
            <div class="form-group">
                    City / Province
                    <select asp-for="Address.Province">
                        @foreach (Province province in ViewBag.listOfProvince)
                        {
                            <option value="@province.ProvinceName">
                                @province.ProvinceName
                            </option>
                        }
                    </select>
                    <span asp-validation-for="Address.Province" class="text-danger"></span>
                </div>
            <div class="form-group">
                City
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                Address Line 1
                <input asp-for="Address.AddressLineOne" class="form-control" />
                <span asp-validation-for="Address.AddressLineOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                Address Line 2
                <input asp-for="Address.AddressLineTwo" class="form-control" />
                <span asp-validation-for="Address.AddressLineTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                Postal Code
                <input asp-for="Address.PostalCode" class="form-control" />
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                Home Phone
                <input asp-for="Phonenumbers.HomePhone" class="form-control" placeholder="(123) 456-7890" type="text" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                <span asp-validation-for="Phonenumbers.HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                Mobile Phone
                <input asp-for="Phonenumbers.MobilePhone" class="form-control" placeholder="(123) 456-7890" type="text" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                <span asp-validation-for="Phonenumbers.MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                Emergency Contact Name
                <input asp-for="Phonenumbers.EmergencyContactName" class="form-control" />
                <span asp-validation-for="Phonenumbers.EmergencyContactName" class="text-danger"></span>
            </div>


            <div class="form-group">
                Emergency Contact Phone
                <input asp-for="Phonenumbers.EmergencyContactPhone" class="form-control" placeholder="(123) 456-7890" type="text" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                <span asp-validation-for="Phonenumbers.EmergencyContactPhone" class="text-danger"></span>
            </div>


            <div class="form-group">
                Family Doctor's Name
                <input asp-for="Phonenumbers.FamilyDoctorName" class="form-control" />
                <span asp-validation-for="Phonenumbers.FamilyDoctorName" class="text-danger"></span>
            </div>

            <div class="checkboxarea " style="grid-column: 1 / 3">
                <div class="form-group">
                    <p>Check ALL the current medical conditions that you are up to date with</p>
                    <div class="checkboxfields">
                        @foreach (var item in ViewBag.currentmedicalconditions)
                        {
                            <div>
                                <input id="@item.CurrentMedicalConditionID" type="checkbox" name="CurrentMedicalConditionID" value="@item.CurrentMedicalConditionName" />
                                <label for="@item.CurrentMedicalConditionID">
                                    @item.CurrentMedicalConditionName
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="checkboxarea " style="grid-column: 1 / 3">
                <div class="form-group">

                    <p>Check ALL the past medical conditions that you are up to date with</p>
                    <div class="checkboxfields">
                        @foreach (var item in ViewBag.pastmedicalhistory)
                        {
                            <div>
                                <input id="@item.PastMedicalHistoryID" type="checkbox" name="PastMedicalHistoryID" value="@item.PastMedicalHistoryName" />
                                <label for="@item.PastMedicalHistoryID">
                                    @item.PastMedicalHistoryName
                                </label>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                Medical Conditions (if any)
                @Html.TextArea("MedicalConditions", new { rows = 5, columns = 40 })
                <span asp-validation-for="MedicalConditions" class="text-danger"></span>
            </div>

            <div class="form-group">
                Past Medical History (if any)
                @Html.TextArea("PastMedicalHistoryDetails", new { rows = 5, columns = 40 })
                <span asp-validation-for="PastMedicalHistoryDetails" class="text-danger"></span>
            </div>

            <div class="form-group">

                Are you in medicaion now?
                <br />
                @Html.RadioButtonFor(m => m.IsInMedicaion, "Yes", Model.IsInMedicaion == "Yes" ? "checked" : string.Empty)
                <span>Yes</span>
                @Html.RadioButtonFor(m => m.IsInMedicaion, "No", Model.IsInMedicaion == "No" ? "checked" : string.Empty)
                <span>No</span>

                <span asp-validation-for="IsInMedicaion" class="text-danger"></span>
            </div>
            <div class="form-group">
                Medications
                @Html.TextArea("Medications", new { rows = 5, columns = 40 })
                <span asp-validation-for="Medications" class="text-danger"></span>
            </div>

            <div class="form-group">

                Have you had surgery in the past?
                <br />
                @Html.RadioButtonFor(m => m.HasPastSurgery, "Yes", Model.HasPastSurgery == "Yes" ? "checked" : string.Empty)
                <span>Yes</span>
                @Html.RadioButtonFor(m => m.HasPastSurgery, "No", Model.HasPastSurgery == "No" ? "checked" : string.Empty)
                <span>No</span>

                <span asp-validation-for="HasPastSurgery" class="text-danger"></span>
            </div>
            <div class="form-group">
                Past Surgeries (if any)
                @Html.TextArea("PastSurgeries", new { rows = 5, columns = 40 })
                <span asp-validation-for="PastSurgeries" class="text-danger"></span>
            </div>

            <div class="form-group">

                Do you have any Allergy?
                <br />
                @Html.RadioButtonFor(m => m.HasAllergy, "Yes", Model.HasAllergy == "Yes" ? "checked" : string.Empty)
                <span>Yes</span>
                @Html.RadioButtonFor(m => m.HasAllergy, "No", Model.HasAllergy == "No" ? "checked" : string.Empty)
                <span>No</span>
                @Html.RadioButtonFor(m => m.HasAllergy, "NotSure", Model.HasAllergy == "NotSure" ? "checked" : string.Empty)
                <span>Not Sure</span>

                <span asp-validation-for="HasAllergy" class="text-danger"></span>
            </div>
            <div class="form-group">
                Allergies (if any)
                @Html.TextArea("Allergies", new { rows = 5, columns = 40 })
                <span asp-validation-for="Allergies" class="text-danger"></span>
            </div>


            <div class="checkboxarea " style="grid-column: 1 / 3">
                <div class="form-group">
                    <p>Check ALL the Family Medical History that you are up to date with</p>

                    <div class="checkboxfields">
                        @foreach (var item in ViewBag.familyMedicalHistory)
                        {
                            <div>
                                <input id="@item.FamilyMedicalHistoryID" type="checkbox" name="FamilyMedicalHistoryID" value="@item.FamilyMedicalHistoryName" />
                                <label for="@item.FamilyMedicalHistoryID">
                                    @item.FamilyMedicalHistoryName
                                </label>
                            </div>

                        }
                    </div>
                </div>
            </div>


            <div class="form-group">
                Family medical history (if any)
                @Html.TextArea("FamilyHistory", new { rows = 5, columns = 40 })
                <span asp-validation-for="FamilyHistory" class="text-danger"></span>
            </div>

            <div class="form-group">

                Have you done any genetics test?
                <br />
                @Html.RadioButtonFor(m => m.hasGeneticTest, "Yes", Model.hasGeneticTest == "Yes" ? "checked" : string.Empty)
                <span>Yes</span>
                @Html.RadioButtonFor(m => m.hasGeneticTest, "No", Model.hasGeneticTest == "No" ? "checked" : string.Empty)
                <span>No</span>

                <span asp-validation-for="hasGeneticTest" class="text-danger"></span>
            </div>
            <div class="form-group">
                If yes, please provide details on the test outcomes or any highlighted risks.
                @Html.TextArea("GeneticTest", new { rows = 5, columns = 40 })
                <span asp-validation-for="GeneticTest" class="text-danger"></span>
            </div>

            <div class="form-group">

                Do you use or do you have history of smoking or using tobacco?
                <br />
                @Html.RadioButtonFor(m => m.doYouSmoke, "Yes", Model.doYouSmoke == "Yes" ? "checked" : string.Empty)
                <span>Yes</span>
                @Html.RadioButtonFor(m => m.doYouSmoke, "No", Model.doYouSmoke == "No" ? "checked" : string.Empty)
                <span>No</span>
                @Html.RadioButtonFor(m => m.doYouSmoke, "Sometimes", Model.doYouSmoke == "Sometimes" ? "checked" : string.Empty)
                <span>Sometimes</span>
                <span asp-validation-for="doYouSmoke" class="text-danger"></span>
            </div>

            <div class="form-group">

                Do you use or do you have history of using illegal drugs?
                <br />
                @Html.RadioButtonFor(m => m.doYouIllegalDrugs, "Yes", Model.doYouIllegalDrugs == "Yes" ? "checked" : string.Empty)
                <span>Yes</span>
                @Html.RadioButtonFor(m => m.doYouIllegalDrugs, "No", Model.doYouIllegalDrugs == "No" ? "checked" : string.Empty)
                <span>No</span>
                @Html.RadioButtonFor(m => m.doYouIllegalDrugs, "Sometimes", Model.doYouIllegalDrugs == "Sometimes" ? "checked" : string.Empty)
                <span>Sometimes</span>
                <span asp-validation-for="doYouIllegalDrugs" class="text-danger"></span>
            </div>

            <div class="form-group">

                Do you use or do you have history of consuming alcohol?
                <br />
                @Html.RadioButtonFor(m => m.doYouConsumeAlcohol, "Yes", Model.doYouConsumeAlcohol == "Yes" ? "checked" : string.Empty)
                <span>Yes</span>
                @Html.RadioButtonFor(m => m.doYouConsumeAlcohol, "No", Model.doYouConsumeAlcohol == "No" ? "checked" : string.Empty)
                <span>No</span>
                @Html.RadioButtonFor(m => m.doYouConsumeAlcohol, "Sometimes", Model.doYouConsumeAlcohol == "Sometimes" ? "checked" : string.Empty)
                <span>Sometimes</span>
                <span asp-validation-for="doYouConsumeAlcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                Do you follow any specific diet?
                @Html.DropDownListFor(m => m.Diet, new List<SelectListItem>
{   new SelectListItem { Text = "Select Diet Plan", Value = "NotSelected"},
    new SelectListItem { Text = "The Paleo Diet", Value = "The Paleo Diet"},
    new SelectListItem { Text = "The Blood Type Diet", Value = "The Blood Type Diet"},
    new SelectListItem { Text = "The Vegan Diet", Value = "The Vegan Diet"},
    new SelectListItem { Text = "The South Beach Diet", Value = "The South Beach Diet"},
    new SelectListItem { Text = "The Mediterranean Diet", Value = "The Mediterranean Diet"},
    new SelectListItem { Text = "Raw Food Diet", Value = "Raw Food Diet"},
      new SelectListItem { Text = "The Zone Diet", Value = "The Zone Diet"},
    new SelectListItem { Text = "The Keto Diet", Value = "The Keto Diet"},
    new SelectListItem { Text = "Low-Carb Diets", Value = "Low-Carb Diets"},
    new SelectListItem { Text = "The Ultra-Low-Fat Diet", Value = "The Ultra-Low-Fat Diet"},
    new SelectListItem { Text = "The Dukan Diet", Value = "The Dukan Diet"},
    new SelectListItem { Text = "The Atkins Diet", Value = "The Atkins Diet"},
      new SelectListItem { Text = "The HCG Diet", Value = "The HCG Diet"},
    new SelectListItem { Text = "Intermittent Fasting", Value = "Intermittent Fasting"},
    new SelectListItem { Text = "Flexitarian or Semi-Vegetarian Diet", Value = "Flexitarian or Semi-Vegetarian Diet"},
    new SelectListItem { Text = "Cleanse Diets", Value = "Cleanse Diets"},
    new SelectListItem { Text = "Whole30", Value = "Whole30"},
    new SelectListItem { Text = "Carnivore Diet", Value = "Carnivore Diet"}


})
                <span asp-validation-for="Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                How often do you exercise?
                @Html.DropDownListFor(m => m.Exercise, new List<SelectListItem>
{new SelectListItem { Text = "Select Exercise Level", Value = "NotSelected"},
    new SelectListItem { Text = "Sedentary: little or no exercise", Value = "Sedentary: little or no exercise"},
    new SelectListItem { Text = "Light: exercise 1-3 times/week", Value = "Light: exercise 1-3 times/week"},
    new SelectListItem { Text = "Moderate: exercise 4-5 times/week", Value = "Moderate: exercise 4-5 times/week"},
    new SelectListItem { Text = "Active: daily exercise or intense exercise 3-4 times/week", Value = "Active: daily exercise or intense exercise 3-4 times/week"},
    new SelectListItem { Text = "Very Active: intense exercise 6-7 times/week", Value = "Very Active: intense exercise 6-7 times/week"},
    new SelectListItem { Text = "Extra Active: very intense exercise daily, or physical job", Value = "Extra Active: very intense exercise daily, or physical job"}

})
                <span asp-validation-for="Exercise" class="text-danger"></span>
            </div>

            <div class="form-group">
                Covid Test Details
                <input asp-for="CovidDetails" class="form-control" />
                <span asp-validation-for="CovidDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                Check ALL the vaccines that you are up to date with.
                <input asp-for="ImmunizationRecord" class="form-control" />
                <span asp-validation-for="ImmunizationRecord" class="text-danger"></span>
            </div>


            <div class="checkboxarea " style="grid-column: 1 / 3">
                <div class="form-group">
                    <p> Have you been diagnosed with COVID in the past?</p>

                    <div class="checkboxfields">
                        @foreach (var item in ViewBag.CovidHistory)
                        {
                            <div>
                                <input id="@item.CovidHistoryID" type="checkbox" name="CovidHistoryID" value="@item.CovidHistoryName" />
                                <label for="@item.CovidHistoryID">
                                    @item.CovidHistoryName
                                </label>
                            </div>

                        }
                    </div>
                </div>
            </div>


            <div class="checkboxarea " style="grid-column: 1 / 3">
                <div class="form-group">
                    <p>Check ALL the vaccines that you are up to date with</p>

                    <div class="checkboxfields">
                        @foreach (var item in ViewBag.immunization)
                        {
                            <div>
                                <input id="@item.ImmunizationID" type="checkbox" name="ImmunizationID" value="@item.ImmunizationName" />
                                <label for="@item.ImmunizationID">
                                    @item.ImmunizationName
                                </label>
                            </div>

                        }
                    </div>
                </div>
            </div>


            @*@Html.HiddenFor(model => model.ImmunizationID)
                @Html.HiddenFor(model => model.MedicalHistoryID)
                @Html.HiddenFor(model => model.CovidHistoryID)
                @Html.HiddenFor(model => model.CurrentMedicalConditionID)
                @Html.HiddenFor(model => model.PastMedicalHistoryID)
                @Html.HiddenFor(model => model.FamilyMedicalHistoryID)*@


            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="updatemark()" />

            </div>

        </form>
        <div><a class="btn btn-primary" asp-route-id="@ViewBag.userid" asp-action="UserProfile"> Go Back</a></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                maxDate: "today",
                yearRange: "1900:+nn"

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        function updatemark(arg, argone) {
            var abc = ""
            //Iterating the collection of checkboxes which checked marked
            $('input[type=checkbox, name=ImmunizationID]').each(function () {
                if (this.checked) {
                    abc = abc + $(this).val() + ","
                    //assign set value to hidden field
                    $('#ImmunizationID').val(abc);
                }
            });
            var bcd = ""
            $('input[type=checkbox, name=CurrentMedicalConditionID]').each(function () {
                if (this.checked) {
                    bcd = bcd + $(this).val() + ","
                    //assign set value to hidden field
                    $('#CurrentMedicalConditionID').val(bcd);
                }
            });

            var cde = ""
            $('input[type=checkbox, name=PastMedicalHistoryID]').each(function () {
                if (this.checked) {
                    cde = cde + $(this).val() + ","
                    //assign set value to hidden field
                    $('#PastMedicalHistoryID').val(cde);
                }
            });

            var def = ""
            $('input[type=checkbox, name=FamilyMedicalHistoryID]').each(function () {
                if (this.checked) {
                    def = def + $(this).val() + ","
                    //assign set value to hidden field
                    $('#FamilyMedicalHistoryID').val(def);
                }
            });

            var efg = ""
            $('input[type=checkbox, name=CovidHistoryID]').each(function () {
                if (this.checked) {
                    efg = efg + $(this).val() + ","
                    //assign set value to hidden field
                    $('#CovidHistoryID').val(efg);
                }
            });
        }
    </script>
}

