@model AtomHealth.Models.Atom
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_LayoutWithoutBanner.cshtml";
}
@*<h1 style="color:#42a5ff; font-size:large; font-weight:bold">View Your Profile</h1>*@

<div class="panelbio">

    <div class="bio-graph-heading">
        @ViewBag.firstname's  Profile
    </div>
    <div class="panelbio-body bio-graph-info">

        <div class="rowForProfile">
            <div class="bio-row">
                <p><span>First Name:</span>@Html.DisplayFor(model => model.firstname)</p>
            </div>
            <div class="bio-row">
                <p><span>Middle Name:</span>@Html.DisplayFor(model => model.middlename)</p>
            </div>
            <div class="bio-row">
                <p><span>Last Name:</span>@Html.DisplayFor(model => model.lastname)</p>
            </div>
            <div class="bio-row">
                <p><span>Date of Birth:</span>@Html.DisplayFor(model => model.dob)</p>
            </div>
            <div class="bio-row">
                <p><span>Health ID:</span>@Html.DisplayFor(model => model.healthid)</p>
            </div>
            <div class="bio-row">
                <p><span>Phone:</span>@Html.DisplayFor(model => model.phone)</p>
            </div>
            <div class="bio-row">
                <p><span>Email:</span>@Html.DisplayFor(model => model.email)</p>
            </div>
            <div class="bio-row">
                <p><span>Sex:</span>@Html.DisplayFor(model => model.sex)</p>
            </div>
            <div class="bio-row">
                <p><span>Height:</span>@Html.DisplayFor(model => model.height)</p>
            </div>
            <div class="bio-row">
                <p><span>Weight:</span>@Html.DisplayFor(model => model.weight)</p>
            </div>
            <div class="bio-row">
                <p><span>Marital Status:</span>@Html.DisplayFor(model => model.ismarried)</p>
            </div>
            <div class="bio-row">
                <p><span>Registration Date:</span>@Html.DisplayFor(model => model.registrationdate)</p>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-6">

            <div class="panelbio-body">
                <div class="bio-desk">
                    <h4 class="red">Emergency Contact</h4>
                    <p><span>Emergency Phone Number:</span>&nbsp;&nbsp;@Html.DisplayFor(model => model.emergencyphone)</p>
                    <p><span>Relationship with Emergency Contact:</span>&nbsp;&nbsp;@Html.DisplayFor(model => model.relationship)</p>
                </div>
            </div>

        </div>
        <br />
        <div class="col-md-6">

            <div class="panelbio-body">
                <div class="bio-desk">
                    <h4 class="terques">Medications</h4>
                    <p><span>In Medication Now?</span>&nbsp;&nbsp;@Html.DisplayFor(model => model.inmedicationnow)</p>
                    <p><span>Medication Details:</span>&nbsp;&nbsp;@Html.DisplayFor(model => model.medication)</p>
                </div>
            </div>

        </div>
        <br />
        <div class="col-md-6">

            <div class="panelbio-body">
                <div class="bio-desk">
                    <h4 class="green">Diseases</h4>
                    <p><span>Diseases:</span>@Html.DisplayFor(model => model.diseases)</p>
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />

</div>
<div class="bio-desk">
    <a asp-action="Edit" asp-route-id="@ViewBag.atomid"><i class="fa fa-edit"></i> Edit profile</a>
</div>